* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.code {
  height: 70%;
}
.text, .code {
  width: 100%;
  outline: none;
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 20px;
  overflow: scroll;
  letter-spacing: 1px;
  margin-bottom: 10px;
  background-color: white;
}
.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.convert, .decode, .copy, .reset {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #333333;
  font-weight: 600;
  color: white;
  cursor: pointer;
  flex: 1;
}
.convert {
  background-color: #1DB482;
}
.decode {
  background-color: #3a86ff;
}
.copy {
  background-color: #6c757d;
}
.reset {
  background-color: #D83939;
}
.convert:hover, .decode:hover, .copy:hover, .reset:hover {
  opacity: 0.9;
}
